@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #67159C;
  
  /* ### Primary */

  --dark-blue-header-bg: hsl(217, 28%, 15%);
  --dark-blue-main-bg: hsl(218, 28%, 13%);
  --dark-blue-footer-bg: hsl(216, 53%, 9%);
  --dark-blue-testimonials-bg: hsl(219, 30%, 18%);

  --black-op: hsla(0, 0%, 61%, 0.150);

  /* ### Accent */

  --cyan-gradient-from: hsl(176, 68%, 64%);
  --blue-gradient-to: hsl(198, 60%, 50%);
  --light-red-error: hsl(0, 100%, 63%);
}

* {
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;  
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/* Hover buttons */
.hover-fill {
  position: relative;
  /* font-size: 14px; */
  /* letter-spacing: 1px; */
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  color: white;
  transition: all 0.3s;
}

.hover-fill:hover {
  color: transparent;
}

.hover-fill:hover:after {
  max-width: 100%;
}

.hover-fill:after {
  content: attr(data-txthover);
  position: absolute;
  /* top: 0; */
  left: 0;
  max-width: 0;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.3s ease-out;  
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  visibility: hidden;  
  padding: 30px;  
  border-radius: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {  
  transition: 300ms;      
  background-color: #00458f;  
}

@media (min-width: 768px) {
  .swiper-button-next {
    visibility: visible;    
  }
  
  .swiper-button-prev {
    visibility: visible;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

.animate-fade-out {
  animation: fade-out 0.5s ease-in-out forwards 2s;  
}

/* Top Button */
.top-button {
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.top-button.show {
  opacity: 1;
  visibility: hidden;
}

@media (min-width: 768px) {
  .top-button.show{
    visibility: visible;
    padding: 5px;
  }  
}

@media (min-width: 1024px) {
  .top-button.show {
    padding: 10px;
  }
}

/* Typing animation */
.typing-animation {
  display: inline-block;
}

.text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;  
  border-right: 2px solid #fff; /* Simula o cursor piscando */  
  animation: typing 3s steps(14), blink-caret 0.5s step-end infinite;        
}

.erase-text {
  animation: typing-reverse 2s steps(14), blink-caret 0.5s step-end infinite;        ;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes typing-reverse {
  from { width: 100%; }
  to { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}
